h1
{
  color: black;
}
.header{
    /* background-image: url("https://bit.ly/2WYP4aF"); */
    background-size: cover;
    height: 50vh;
    padding-top: 90px;
    /* background-color: rgb(158, 174, 204); */
    
    
  }